@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-nord0 h-screen flex flex-col;
}

nav {
    @apply z-50 p-4 text-nord4 sm:fixed top-2 w-full flex justify-center items-center;

    .navbar-item {
        @apply px-3 text-center text-2xl font-retro content-center rounded-full transform transition-all duration-200 bg-nord0/70 hover:bg-nord1 hover:text-nord8 hover:outline hover:outline-nord8 flex-none h-10 active:bg-nord3 active:outline-nord13 active:text-nord13;
    }

    .navbar-text-item {
        @apply pl-3 pr-4 text-center text-2xl font-retro content-center rounded-full transform transition-all duration-200 bg-nord0/70 hover:bg-nord1 hover:text-nord8 hover:outline hover:outline-nord8 flex-none h-10 active:bg-nord3 active:outline-nord13 active:text-nord13;
    }
}

main {
    @apply flex-grow;
}

.full-height-container {
    @apply flex flex-col h-full items-center justify-center;
}

.home-container {
    @apply flex flex-col items-center justify-center;
}

.full-height-section {
    @apply h-screen flex flex-col items-center justify-center;
}

.content-section {
    @apply w-full max-w-screen-2xl justify-start p-6 md:p-20;
}

a {
    @apply transform transition-all duration-200 active:outline-nord13 active:text-nord13;
}

h1 {
    @apply text-9xl text-transparent bg-clip-text font-m5 box-decoration-clone rounded-md bg-gradient-to-r from-nord8 via-nord9 to-nord10 pl-4 pr-2;
}

h2 {
    @apply text-6xl font-bold font-m5 bg-clip-text text-transparent bg-gradient-to-r from-nord8 via-nord9 to-nord10  pt-2 pb-4;
}

h3 {
    @apply text-xl font-semibold font-retro text-nord4;
}

p {
    @apply text-nord6 text-lg;
}

.default-button {
    @apply rounded-lg font-retro text-xl p-2 text-nord4 font-bold bg-nord15 transform transition-all duration-200 hover:outline hover:outline-nord8 hover:bg-nord0 hover:text-nord8 active:bg-nord2 active:outline-nord13 active:text-nord13;
}

span.underlined {
    @apply bg-left-bottom bg-gradient-to-r from-nord8 to-nord10 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out;
}

span.tag {
    @apply font-m5 rounded-lg my-2 p-1 text-nord15 outline outline-1 outline-nord15 transform transition-all duration-200 hover:outline-nord8 hover:bg-nord0 hover:text-nord8 active:bg-nord2 active:outline-nord13 active:text-nord13;
}

span.highlighted {
    @apply text-nord7;
}

.content-section .showcase {
    left: -24px;
    width: calc(100% + 48px);
}

@media (min-width: 768px) {
    .content-section .showcase {
        left: -80px;
        width: calc(100% + 160px);
    }
}

.speech-bubble {
    /*noinspection CssUnknownTarget*/
    background-image: url('/images/speech-bubble.png');
    @apply bg-auto bg-center bg-no-repeat w-screen h-52 flex items-center justify-center;
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid #D08770;
    white-space: nowrap;
    margin: 0 auto;
    animation: typewriter-caret .75s step-end infinite;
    text-align: center;
}

.typewriter h1 {
    min-height: 3.75rem;
}

.typewriter p {
    min-height: 1.75rem;
}

@keyframes typewriter-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #D08770;
    }
}

.bouncing-arrow {
    @apply absolute bottom-4 flex justify-center w-full;
}

.bouncing-arrow svg {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-10px);
    }
}

@font-face {
    font-family: 'm5';
    /*noinspection CssUnknownTarget*/
    src: url('/m5x7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'retro';
    /*noinspection CssUnknownTarget*/
    src: url('/RETRO_SPACE.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 640px) {
    main {
        @apply mt-16;
    }
}

@layer base {
    :root {
        --foreground: #2E3440;
        --background: #D8DEE9;
        --radius: 0.5rem;
    }
}